/* Variables */

:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --basic-menu: #293449;
  --basic-active: #161D29;
  --basic-active-navigation: #1D2739;
  --basic-header: rgba(0, 0, 0, 0.01);
  --basic-navigation: #32425C;
  --basic-popular: #F9F5F0;
  --basic-oldcost: #A9A9A9;


  --white: #FFFFFF;
  --black: #000000;
  --black01: rgba(0, 0, 0, 0.0001);
  --white50: rgba(255, 255, 255, 0.5);
  --white30: rgba(255, 255, 255, 0.3);


  --special-ylellow: #FFBF47;
  --special-ylellowed: #FFC047;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;


  --success: #5FBB2D;
  --warning: #FFBF47;
  --error: #BA2732;


  --light-gray: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #EAEAEA;
}

.page-body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */
.main-header {
  background: var(--basic-background);
}

.top-menu {
  background: var(--basic-menu);
}

.search, .top-menu a {
  color: var(--white);
}

.main-header-logo {
  display: block;
  width: 170px;
  height: 35px;
  background: var(--basic-red);
  padding-top: 12px;
  padding-left: 50px;
}

.main-header-logo:active {
  background-color: var(--error);
}

.link-order {
  background-color: var(--basic-green);
}

.link-cart:focus,
.link-bookmarks:focus,
.link-order:focus {
  color: var(--white50);
}

.link-order:hover {
  background-color: var(--success);
}

.link-bookmarks:focus {
  background: var(--basic-active);
}

.link-order:focus {
  background-color: var(--basic-green);
}

.header-company-name, .header-company-phone {
  color: var(--basic-red);
}

.header-company-name {
  font-style: italic;
  font-size: 16px;
}

.header-company-phone {
  font-weight: bold;
  font-size: 21px;
  text-decoration: none;
}

.header-company-address {
  font-size: 14px;
  text-align: center;
}

.user-navigation-login-in,
.user-navigation-registration {
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
  background: var(--black01);
  text-align: center;
}

.user-navigation-login-in:hover,
.user-navigation-registration:hover {
  color: var(--basic-red);
}

.user-navigation-login-in:focus,
.user-navigation-registration:focus {
  color: var(--basic-greylight);
}

.main-navigation {
  background: var(--basic-navigation);
}

.site-navigation {
  list-style: none;
  color: var(--white);
}

.site-navigation-item {
  color: var(--white);
  text-decoration: none;
  display: block;
  width: 200px;
}

.site-navigation-item:hover {
  background: var(--basic-menu);
}

.site-navigation-item:focus {
  color: var(--white50);
  background: var(--basic-menu);
}

/* main */
.products {
  color: var(--white);
}

.offers-materials {
  background: var(--special-ylellow);
}

.offers-heading {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.button-red,.offers-button {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
}

.offers-button {
  background: var(--white30);
}

.offers-tools {
  background: var(--special-blue);
}

.offers-technics {
  background: var(--special-lilac);
}

.slider-caption {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.slider {
  background: var(--basic-grey);
}

.slider-slogan {
  font-weight: normal;
  display: block;
  text-transform: none;
  font-size: 18px;
  line-height: 24px;
}

.button-red {
  background: var(--basic-red);
}

.offers-discounts {
  background: var(--special-greenlight);
}

.offers-delivery {
  background: var(--special-yellowlight);
}

/* popular products */
.popular-heading {
  background: var(--basic-popular);
}

.popular-heading-caption {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-navigation);
}

.popular-list {
  list-style: none;
  font-family: "PT Sans";
  font-weight: bold;
  text-align: center;
}

.popular-list-link, .services-list-link {
  text-decoration: none;
}

.popular-list-item-product {
  line-height: 20px;
  color: var(--black);
}

.old-cost, .new-cost {
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
}

.old-cost {
  text-decoration-line: line-through;
  color: var(--basic-oldcost);
}

.new-cost {
  background: var(--basic-red);
  color: var(--white);
}

.services {
  background: var(--basic-background);
}

.services h2,
.services-content-delivery h3,
.services-content-warranty h3,
.services-content-credit h3,
.content-company h3,
.content-contacts h3 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
  color: var(--black);
}

.services-slogan,
.services-content-description,
.content-company-slogan,
.content-company-delivery,
.content-contacts-address {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 24px;
  color: var(--black);
}

.services-list {
  list-style: none;
  background: var(--basic-navigation);
}

.services-list-item a {
  color: var(--white);
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
}

.content-transport-company-list {
  list-style: none;
  color: var(--black);
}

/* footer */
.top-footer {
  background: var(--basic-navigation);
}

.main-footer-menu-list, .main-footer-list-links, .main-footer-bottom-social-list {
  list-style: none;
}

.main-footer-menu-item a, .main-footer-address, .main-footer-address a {
  color: var(--basic-background);
}

.main-footer-list-links-items a, .main-footer-bottom a {
  color: var(--special-yellowlight);
}

.main-footer-bottom {
  margin-top: -20px;
  background: var(--basic-menu);
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
}
.main-footer-logo {
  display: block;
  width: 175px;
  height: 48px;
  background: var(--basic-red);
  padding-top: 20px;
  padding-left: 40px;
}
